* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
	background-color: #eff5f9;
}
.headerMenu {
	background-color: #00B9ED;
	height: 38px;
	border-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.logo {
	width: 125 px;	
}
.logo img {
	width: 150px;
	height: 38px;
}
